{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="contact">
    <div class="content container-md padding">
        <h1>Contact Us</h1>
    </div>

    <div class="container">
        <div class="contactInfo">
            <div class="info">
                <div class="box">
                    <div class="icon">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="text">
                        <h4>Address</h4>
                        <p>Horn of Africa - Somalia</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <i class="bi bi-telephone-inbound"></i>
                    </div>
                    <div class="text">
                        <h4>Phone</h4>
                        <p>+252 90 7797395</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <i class="bi bi-phone"></i>
                    </div>
                    <div class="text">
                        <h4>Quick Contact</h4>
                        <p>+252 63 4446366</p>
                    </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <div class="text">
                        <h4>Email</h4>
                        <p>info@smartvisionconsultancy.org</p>
                    </div>
                </div>
            </div>

            <div class="socials">
                <a href="https://so.linkedin.com/in/smartvision-consultancy-26889554" target="_blank">
                    <div class="box">
                        <div class="icon">
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </a>

                <a href="https://www.facebook.com/Smart-Vision-for-Consultancy-and-Development-516049275139193/"
                    target="_blank">
                    <div class="box">
                        <div class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </div>
                </a>

                <a href="https://www.youtube.com/watch?v=FSIqwJ2V034" target="_blank">
                    <div class="box">
                        <div class="icon">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="contactForm">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="contact-name" required="required" />
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="contact-email" required="required" />
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea name="contact-message" required="required" id="" cols="30" rows="10"></textarea>
                    <span>Type Your Message Here ...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}