{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="gpage">
    <div class=" gallery container-fluid top-part">
        <h1>Gallery</h1>
        <hr>
        <br />
    </div>

    <div class="grid">
        <div class="item" style="background-image: url(/static/images/background.jpeg)">
        </div>

        <div class="item" style="background-image: url(/static/images/landi.jpg)">
        </div>

        <div class="item" style="background-image: url(/static/images/gallery3.webp)">
        </div>

        <div class="item" style="background-image: url(/static/images/ourbg.webp)">
        </div>

        <div class="item" style="background-image: url(/static/images/beach.webp)">
        </div>

        <div class="item" style="background-image: url(/static/images/gallery9.webp)">
        </div>

        <div class="item" style="background-image: url(/static/images/sun.webp)">
        </div>
    </div>
</div>
{% endblock content %}