{% extends 'main.html' %}
{% load static %}
{% block content %}


<!----Testimonies ------------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="testimony-heading padding top-part">
    <div class="container-md">
        <h1>Testimonials</h1>
    </div>
</div>

<div class="testimonials">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for testimony in testimonies %}
            <div class="carousel-item active text-center">
                <img src="{{testimony.client.logo.url}}" class="center-block" alt="..." />
                <br /><br />
                <h4>{{testimony.name}}</h4>
                <span>{{testimony.client}}</span>
                <br /><br />
                <p>
                    {{testimony.testimonial}}
                </p>
            </div>
            {% endfor %}

            {% for testimony in testimoniess%}
            <div class="carousel-item text-center">
                <img src="{{testimony.client.logo.url}}" class="center-block" alt="..." />
                <br /><br />
                <h4>{{testimony.name}}</h4>
                <span>{{testimony.client}}</span>
                <br /><br />
                <p>
                    {{testimony.testimonial}}
                </p>
            </div>
            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!----End of Testimonies ------------------------------------------------------------------------------------------------------------------------------------------------------>
{% endblock content %}